.Course {
    margin-bottom: 40px;

    width: 100%;
    padding: 30px 57px;
    box-sizing: border-box;     // Fix padding going over page width

    border-radius: 23px;
    background: white;
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.16);

    .CourseMain {    
        display: grid;
        grid-template-columns: 35% auto 20% 5%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "title title spots expand"
            "date level subscribe expand"
        ;
        
        .Title {
            grid-area: title;
            font-weight: bold;
            font-size: 32px;
            letter-spacing: -0.03em;
        }
    
        .Info {
            align-self: end;
            // margin-top: 17px;
            margin-top: 1.9vh;  // [!] I'm just testing this

            .label {
                font-weight: normal;
                font-size: 15px;
                color: #c5c5c5;
            }
            .value {
                font-weight: normal;
                font-size: 21px;
            }
        }

        .Date { grid-area: date;}
        .Level {grid-area: level;}

        .Spots {
            grid-area: spots;
            display: flex;
            flex-direction: row;
            align-items: center;    // center vertically inside flex
            place-self: center;     // center horizzontally (+ vertically) inside grid cell

            color: #959595;
            svg{
                font-size: 38px;
                margin-right: 8px;
            }
        
            span {
                font-weight: 500;
                font-size: 18px;
            }
        }

        .Subscribe {
            place-self: center;     // center horizzontally + vertically inside grid cell

            .button {
                grid-area: subscribe;
                font-weight: 500;
                font-size: 15px;
                color: #fff;
                background: #3880ff;
                padding: 5px 20px;
                border-radius: 11px;
            }
        }

        .Expand {
            grid-area: expand;

            align-self: center;     //align vertically
            justify-self: right;   //align horizzontally

            svg {
                color: #9d9d9d;
                font-size: 36px;
            }

            .arrow-close {
                transform: rotate(0deg);
                transition: transform 0.1s linear;
            }
            
            .arrow-open {
                transform: rotate(90deg);
                transition: transform 0.1s linear;
            }
        }
    }

    .CourseSchedule {
        margin-top: 90px
    }
}
