.Certificate {
    margin-bottom: 40px;

    width: 100%;
    padding: 30px 57px;
    box-sizing: border-box;     // Fix padding going over page width

    border-radius: 23px;
    background: white;
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.16);

    .CertMain {    
        display: grid;
        grid-template-columns: 35% auto 10%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "title title print"
            "date level print"
        ;
        
        .Title {
            grid-area: title;
            font-weight: bold;
            font-size: 32px;
            letter-spacing: -0.03em;
        }
    
        .Info {
            align-self: end;
            // margin-top: 17px;
            margin-top: 1.9vh;  // [!] I'm just testing this

            .label {
                font-weight: normal;
                font-size: 15px;
                color: #c5c5c5;
            }
            .value {
                font-weight: normal;
                font-size: 21px;
            }
        }

        .Date { grid-area: date;}
        .Level {grid-area: level;}

        .Button {
            grid-area: print;
            place-self: center;     // center horizzontally + vertically inside grid cell

            .button {
                border-radius: 11px;
                padding: 10px 12px;
                border: none;
                cursor: pointer;

                svg{
                    color: white
                }
            }

            .off {background: #c9c9c9;}
            .on {background: #3880ff;}
        }

    }

    .CertHistory {
        margin-top: 60px;
        margin-bottom: 40px;
        margin-left:35px;

        .HistoryElement {
            margin-top: 15px;

            display: grid;
            grid-template-columns: 2% 20% 20% auto;
            grid-template-rows: 50% 50% auto;
            grid-template-areas: 
                "line title title title"
                "line teacher room .";

            .Line {
                grid-area: line;
                width: 3px;
                background: #ef4d4d;
            }

            .Title {
                grid-area: title;

                display: flex;
                align-items: center;
                justify-content: flex-start;

                .Name {
                    height: 30px;
                    font-weight: 500;
                    font-size: 25px;
                    letter-spacing: -0.03em;
                }

                .Presence {
                    border-radius: 10px;
                    padding: 0 10px;
                    color: white;
                    font-weight: 500;
                    font-size: 14px;
                    height: fit-content;
                    margin-left: 15px;
                }

                .Partial {background: #ffbb37;}
                .Complete {background: #42b983;}
            }

            .Teacher {grid-area: teacher;}
            .Room {grid-area: room;}

            .Info {
                align-self: end;
                // margin-top: 17px;
                margin-top: 1.9vh;  // [!] I'm just testing this

                .label {
                    font-weight: normal;
                    font-size: 12px;
                    color: #c5c5c5;
                }
                .value {
                    font-weight: normal;
                    font-size: 17px;
                }
            }
        }
    }
}
