.Signup-Page {
    max-width: 390px;
    position: fixed;
    top: 47%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    text-align: center;

    h1 {
        font-weight: bold;
        font-size: 46px;
        color: #020814;
    }

    .Btn {
        margin-top: 20px;
    }

    input{
        margin-top: 7px;
    }

}